
$row_bottom_border : #5d8ea9;
$row_hover_bg : #336a88;
$header_dark_bg : #0b3044;


.left_list
{
    width: 100%;
    display: flex;
    
    .tab_value_col{        

        li{                         
            border-bottom: none;            
        }
    }

    li:last-child .tab_value_col .left_title{
        border-bottom: none;
    }

    ul
    {               

        li{            
            border-bottom: 1px solid $row_bottom_border;                       
        }            
      
        li:last-child{
            border-bottom: none;
        }

        .left_title
        {            
             border-bottom: 1px solid $row_bottom_border;         
        }

        .hide_show_icon
        {
            margin-left: 10px;            
        }
    }

    // .data_list  
    // {
    //     display: flex;
    //     flex-direction: row;                
    // }

    .data_list_header 
    {       

        li{    
            padding: 5px 8px;        
            border-bottom: none;                           
        }
     
        .left_title{
            background: $header_dark_bg;
            border-bottom: 1px solid $row_bottom_border;
            
        }

    }
    
    .data_list_header ul li:hover{
        background: $header_dark_bg;                
    }

    ul li:not(:first-child):hover , ul li:not(:first-child):hover ul .left_title
    {
        background: $row_hover_bg;
    }

}
