
.in{
    width: 50%;    
}


.my_field{
    border: 1px solid gray;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

}

.root_ul{
    
    border: 1px solid #fff;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    padding:5px;

    input[type="text"]
    {
        border : 1px solid gray;
        background : none;
        margin-left: 10px;
    }

}